.wai{
    height: 300px;
    width: 700px;
    border: 2px solid black;
    margin: auto;


}
.nav{
    background-color: black;
    color: white;
    height: 50px;
    list-style: none;
    width: 700px;

}
.nav-ul li{
    list-style: none;
    width: 70px;
    padding-left: 10px;
    line-height: 50px;
}
.nav-ul{
    display: flex;
    margin-top: 0;
    padding-left: 0;
}
.nav-ul .active{
    background-color: #cccccc;
    color: #333333;
}
.content ul{
     display: none;
 }
.content .active{
    display: block;
}